{% extends 'base.html.twig' %}

{% block title %}Nouveau Site{% endblock %}

{% block main %}
    <h1>Créer un nouveau site</h1>

    {{ include('site/_form.html.twig') }}

    <a href="{{ path('site_index') }}" class="btn btn-primary" >Revenir à la liste</a>
{% endblock %}
