{% extends 'base.html.twig' %}

{% block title %}Edit Sortie{% endblock %}

{% block main %}
    <h1>Edit Sortie</h1>

    {{ include('sortie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sortie_index') }}" type="button" class="btn btn-">Revenir à la liste</a>

    {{ include('sortie/_delete_form.html.twig') }}
{% endblock %}
