{% extends 'base.html.twig' %}

{% block title %}Nouvelle Ville{% endblock %}

{% block main %}
    <h1>Créer une nouvelle ville</h1>

    {{ include('ville/_form.html.twig') }}

    <a href="{{ path('ville_index') }} " class="btn btn-primary">Revenir à la liste</a>
{% endblock %}
