<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('app') }}

    </head>


    <body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/sortie">Sortir.com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/ville">Villes </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/sortie">Sorties </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/site">Sites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/lieu">Lieux</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/edit">Mon Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" style="position: absolute; top :3px; right :3px">Deconnexion</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
    <main>
        {% block main %}{% endblock %}
        {% block javascripts %}{% endblock %}





    </main>


    <footer class="py-4 bg-dark text-white-50 ">
        <div class="container text-center">
            <small>Copyright &copy; Sortir.com</small>
        </div>
    </footer>

    </body>





    {{ encore_entry_script_tags('app') }}
</html>
